<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guigu.instructional.market.mapper.MarketActiveStaffMapper">
<resultMap id="BaseResultMap" type="com.guigu.instructional.po.MarketActiveStaff" >
   <id column="active_id" property="activeId" jdbcType="INTEGER" />
    <result column="staff_id" property="staffId" jdbcType="INTEGER" />
    <result column="active_name" property="activeName" jdbcType="VARCHAR" />
    <result column="active_state" property="activeState" jdbcType="INTEGER" />
    <result column="active_start" property="activeStart" jdbcType="TIMESTAMP" />
    <result column="active_end" property="activeEnd" jdbcType="TIMESTAMP" />
    <result column="active_type" property="activeType" jdbcType="INTEGER" />
    <result column="active_coste_estimate" property="activeCosteEstimate" jdbcType="DOUBLE" />
    <result column="active_coste" property="activeCoste" jdbcType="DOUBLE" />
    <result column="active_refect_estimate" property="activeRefectEstimate" jdbcType="INTEGER" />
    <result column="active_student" property="activeStudent" jdbcType="VARCHAR" />
    <result column="active_content" property="activeContent" jdbcType="VARCHAR" />
    <result column="staff_name" property="staffName" jdbcType="VARCHAR" />
  </resultMap>

<select id="findMarketActiveStaffList" parameterType="com.guigu.instructional.po.MessageInfoStaffVO" resultMap="BaseResultMap">
		select marketActive.*,staffInfo.staff_name from market_active marketActive, staff_info staffInfo where marketActive.staff_id = staffInfo.staff_id
		and marketActive.active_state='1'
		<!-- <where>
			 <include refid="query_MessageInfoStaff_where"></include> 
		</where> -->
</select>

<sql id="query_MarketActiveStaffList">
		marketActive.staff_id = staffInfo.staff_id and marketActive.active_state='1'
		<if test="activeName!=null and activeName!=''">
			and marketActive.active_name like '%${activeName}%'
		</if>

</sql>

<select id="queryMarketActiveStaffList" parameterType="com.guigu.instructional.po.MessageInfoStaffVO" resultMap="BaseResultMap">
		select marketActive.*,staffInfo.staff_name from market_active marketActive, staff_info staffInfo 
		<where>
			 <include refid="query_MarketActiveStaffList"></include> 
		</where>
</select>

</mapper>